html {
    margin: 0px;
    height: 100%;
    width: 100%;
    color: rgb(205,133,63);
    font-family: "Handjet";
 }
 
 body {
    margin: 0px;
    height: 88%;
    padding: 30px 30px;
    overflow: hidden;
    background-color: rgb(255,250,240);
 }

 .page {
    height: 100%;
}

.page-contents {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1.25fr 1.25fr 1fr;
    grid-template-areas: 
        "name name contact"
        "nav cont cont";
    padding: 10px 30px 30px 30px;
    height: 100%;
}

.name {
    grid-area: name;
}

.name h1 {
    font-size: 64px;
    margin: 0px 5px;
    font-weight: 300;
    font-size: 64px;
}

.name h2 {
    font-weight: lighter;
    font-size: 20px;
    margin: 0px 5px;
}

.contact {
    grid-area: contact;
    display: grid;
    position: relative;
    grid-template: 50px / 80px 40px 40px;
    justify-self: right;
    align-self: top;
}

.contact-container {
    position: relative;
    font-size: 25px;
    justify-self: center;
    align-self: end;
    z-index: 10;
}

.contact-container a {
    color: rgb(205,133,63);
}


.contact h3 {
    position: relative;
    align-self: end;
    margin: 0px 0px 8px 0px;
}

.contact-text {
    position: absolute;
    right: 68px;
    top: 140px;
}

.e-mail {
    font-size: 30px;
}


nav {
    grid-area: nav;
}

.nav-bar {
    list-style-type: none;
    padding-left: 5px;
    padding-bottom: 36px;
    display: block;
    align-self: center;
}

.nav-button {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 36px;
    position: relative;
    width: 110px;
}

.nav-button:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: relative;
    background: rgb(205,133,63);
    transition: width 0.3s ease 0s, right 0.3s ease 0s;
    width: 0;
}

#home-button:hover:after { 
width: 68px; 
right: 0; 
}

#aboutme-button:hover:after { 
width: 110px; 
left: 0; 
}

#projects-button:hover:after { 
width: 90px; 
left: 0; 
}

#skills-button:hover:after { 
width: 64px; 
left: 0; 
}

.nav-button:hover {
    cursor: pointer; 
}